.act-admin div#subfnordconf ul {
  list-style: none none none;
  list-style-type: none;
}
.act-admin div#subfnordconf .vhostitem {
  margin-top: 40px;
}
.act-admin div#subfnordconf .vhostitem label {
  display: block;
  float: left;
  width: 190px;
}
.act-admin div#subfnordconf .vhostitem .other {
}
.act-admin div#subfnordconf .vhostitem .selection {
  width: 170px;
  float: left;
  margin-left: 20px;
}
.act-admin div#subfnordconf .vhostitem .selection label {
   width: 130px;
}
